{% extends "base.html" %}

{% block content %}
<h1>Create Post</h1>
{% if error %} <p style="color:red;">{{error}}</p> {% endif %}
<form action="" method="post">
    <label for="author">Author:</label>
    <input type="text" name="author" id="author" required> <br><br>

     <label for="content">Content:</label>
   <textarea name="content" rows="5" cols="30" required></textarea><br><br>

    <button type="submit">Create Post</button>

</form>
    <a href="{{url_for("home")}}">Back to Home</a>

{% endblock %}