 <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('create_post') }}">Create Post</a></li>
            <li><a href="{{ url_for('update_profile') }}">Update Profile</a></li>
            <li><a href="{{ url_for('update_post') }}">Update Post</a></li>
            <li><a href="{{ url_for('remove_post') }}">Remove Post</a></li>
        </ul>
    </nav>